* {
    font-family: sans-serif;
}

body {
    overflow: hidden;
}

.hidden {
    display: none;
}

h1, h2, span{
    color: #ffffff;
}

footer {
    width: 100%;
    height: 3%;
    position: absolute;
    bottom: 0;
    left: 0;
}

#quote {
    text-align: center;
}

#greeting {
    font-size: 75px;
    text-align: center;
    margin-top: 10%;
}

#clock {
    text-align: center;
}

#todo-form {
    text-align: center;
}

#todo-form input {
    border: none;
    background: transparent;
    border-bottom: 2px solid black;
    color:black;
    width: 182px;
    text-align: center;
}